<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-bbd-base" version="3.0.0">
    <name>Base Plugin</name>
    <description>
        This is Base plugin. It adds all the needed configuration to enable using
        BlackBerry Dynamics in your Cordova application.
        All the other BlackBerry Dynamics Cordova plugins require the Base plugin to be installed.
    </description>
    <keywords>cordova,plugin,base,gd</keywords>
    <license>(c) 2018 BlackBerry Limited. All rights reserved.</license>
    <info>
        This plugin enables using BlackBerry Dynamics in your Cordova application.
        IMPORTANT NOTE: Install BlackBerry Dynamics Cordova Configure plugin (see README.md file for more details)
    </info>
    <engines>
        <engine name="cordova-android" version=">=7.1.4" />
        <engine name="cordova-ios" version=">=4.5.5" />
    </engines>
    <!-- Android -->
        <!-- iOS -->
    <platform name="ios">
        <framework src="GD.framework" />
        <framework src="WebKit.framework" weak="true" />
        <framework src="LocalAuthentication.framework" />
        <framework src="DeviceCheck.framework" />
        <framework src="SafariServices.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="CoreData.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="Security.framework" />
        <framework src="MessageUI.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="AssetsLibrary.framework" />
        <framework src="libz.tbd" />
        <framework src="src/ios/frameworks/BbdBasePlugin.framework" custom="true" />
        <resource-file src="src/ios/resources/GDAssets.bundle" />
        <resource-file src="src/development-tools-info.json" />
        <config-file parent="GDConsoleLogger" target="*-Info.plist">
                <string>GDFilterDetailed</string>
        </config-file>
        <config-file parent="BlackBerryDynamics" target="*-Info.plist">
            <key>BlackBerryDynamics</key>
             <dict>
                <key>CheckEventReceiver</key>
                <false></false>
            </dict>
        </config-file>
        <resource-file src="src/ios/Entitlements.plist" />
        <hook type="after_plugin_install" src="scripts/hooks/ios/afterBasePluginInstall.js" />
        <hook type="after_platform_update" src="scripts/hooks/ios/afterPlatformUpdate.js" />
        <hook type="before_compile" src="scripts/hooks/ios/beforeCompile.js" />
    </platform>

    <hook type="after_plugin_install" src="scripts/hooks/afterBasePluginInstall.js" />
    <hook type="before_plugin_rm" src="scripts/hooks/beforePluginRemove.js" />
    <hook type="after_prepare" src="scripts/hooks/handleCordovaInfo.js" />
</plugin>
